# Created by .ignore support plugin (hsz.mobi)
/database.ini
/server.py
/Loading.egg-info/
/venv/
/scripts/ddl_scripts/site_col.sql.bak
/scripts/ddl_scripts/privileges.sql.bak
/scripts/ddl_scripts/create_table.sql.bak
/scripts/etl_scripts_temp/
.gitignore
.idea/
config.py
config.pyc
database_sample.ini
log.txt
logs/
requirements.txt
server.pyc
setup.py
